.navandservices{
  background-image: linear-gradient(rgb(0, 29, 35, .8), rgb(0, 29, 35, .8)) ,url("src/assets/website builder. coding on laptop. simple flat gra.webp");
  background-size: cover;
  background-repeat: no-repeat;  
}
